[submodule "class-management-FE"]
	path = class-management-FE
	url = https://github.com/ThienNoob/class-management-FE.git
	branch = main
[submodule "class-management-auth-service"]
	path = class-management-auth-service
	url = https://github.com/ThienNoob/class-management-auth-service.git
	branch = main
[submodule "class-management-class-service"]
	path = class-management-class-service
	url = https://github.com/ThienNoob/class-management-class-service.git
	branch = main
[submodule "class-management-lecturer-service"]
	path = class-management-lecturer-service
	url = https://github.com/ThienNoob/class-management-lecturer-service.git
	branch = main
[submodule "class-management-student-service"]
	path = class-management-student-service
	url = https://github.com/ThienNoob/class-management-student-service.git
	branch = main
